.form-group {
    margin-bottom: 16px;
}

.mat-form-field {
    width: 100%;
}

.form-control {
    width: 100%;
}

.custom-box {
    background: linear-gradient(135deg, #d6d2c3 0%, #8c8887 100%);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    /* Add your desired box shadow */

}

mat-form-field input {
    padding: 0;
}